<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button text='Users'></ion-back-button>
    </ion-buttons>
    <ion-title>userDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="User?.picture?.large" />
    <h2>{{User?.name.title +". "+ User?.name.first +" "+User?.name.last}}</h2>
    
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
</ion-content>
