<ion-content>
  <div class="padding"> 
 
   <div class="logo">
     <ion-icon color="light"  name="sunny"></ion-icon>
   </div>
   <ion-item>
     <ion-label color="light">Username</ion-label>
     <ion-input color="light" [(ngModel)]="username" type="email"></ion-input>
   </ion-item>
 
   <ion-item>
     <ion-label color="light">Mot de passe</ion-label>
     <ion-input color="light" [(ngModel)]="password" type="password"></ion-input>
   </ion-item>
   
   <ion-item lines = none>
     <ion-button slot='end' fill='clear' color='light'>Mot de passe oublié ?</ion-button>
   </ion-item>
 </div>
 
 <ion-button color="light" shape = "round" fill='outline' expand="block">Connexion</ion-button> <br>
 
  <ion-button routerLink='/user-list' >redirect list</ion-button>
</ion-content>
